header
  a.site-logo(href="#") GHME
  ul#menu
    li
      a(href="#") News / Home
    li
      a(href="#") TV / Radio
    li
      a(href="#") Personalities
    li
      a(href="#") Opinions / Trolls
    li
      a(href="#") Be Smart