body {
  background-image: url("/img/admin-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  min-height: 100vh;
}

.wrapper {
  margin-top: 120px;
}

h1 {
  text-align: center;
  font-family: "open_sansregular";
  font-size: 24px;
  color: #858585;
  margin-bottom: 42px;
}

form {
  width: 90%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

form button[type="submit"] {
  font-family: "open_sanssemibold";
  font-size: 16px;
  background: #00bff3;
  margin-top: 20px;
  border: none;
}

form button[type="submit"]:hover {
  background: #109bcf;
}

form a {
  display: block;
  margin-top: 16px;
  font-family: "open_sansitalic";
  font-size: 14px;
  color: #828282;
}

form a:hover {
  color: #00bff3;
}